<div class="pageheader container">
    <div class="row">
        <div class="col-sm-4">
            <!--Partial Sprachmenue -->
            <f:render partial="LanguageMenu" />
        </div>
        <div class="col-sm-8">
            <!--Partial Suchformular-->
            <f:render partial="SearchForm" />
        </div>
    </div>
</div>

<div class="mainnav">
    <nav class="main-nav container" role="navigation">

        <!-- Mobile menu toggle button (hamburger/x icon) -->
        <input id="main-menu-state" type="checkbox"/>
        <label class="main-menu-btn" for="main-menu-state">
            <span class="main-menu-btn-icon"></span> Toggle main menu visibility
        </label>

        <!--Partial Navigation-->
        <f:render partial="MainNavigation" arguments="{_all}"/>

    </nav>
</div><!-- Ende mainnav -->

<h2><f:cObject typoscriptObjectPath="lib.marker" /></h2>
<h3><f:cObject typoscriptObjectPath="lib.permright" /></h3>

<!--Hier die Inhalter-->
<f:if condition="{backendlayout}=='jumbotron'">
    <f:render section="Jumbotron" />
    <f:render section="Multicloumn" />
</f:if>

<f:if condition="{backendlayout}=='2spalten'">
    <f:render section="2Spalten" />
</f:if>

<f:if condition="{backendlayout}=='1spalte'">
    <f:render section="1Spalte" />
</f:if>

<!-- Beginn Footer Bereich -->
<hr>

<!--Partial Footer-->
<f:render partial="Footer" arguments="{_all}"/>
